      <div style="margin:50px;">
      <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="#">NodeJS</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="/registro">Registro</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/generar">Reset Password</a>
      </li>
      <li>
        <a href="api/match?token=">Match</a>
      </li>

      
    </ul>
  </div>
</nav>