      <div style="margin:50px;">
      <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="#">NodeJS</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="/registro">Registro</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/generar">Reset Password</a>
      </li>
      <li>
        <a   id='link' href="">Match</a>
      </li>
            <li>
        <a   id='retos' href="">Bandeja</a>
      </li>

      
    </ul>
  </div>
</nav>
 <script> 
  $( document ).ready(function() {


  var evalua = (window.location.href.indexOf('api') ==  '' ?0:'../' );


    $('#link').attr("href", evalua+"api/match?token="+localStorage.getItem('tk'));
    $('#retos').attr("href", evalua+"api/misretos?token="+localStorage.getItem('tk'));
});    </script> 