<html>
<head>
  <title> <%= title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
  <script type="text/javascript" src="http://alasql.org/codex/lib/alasql/alasql.min.js"></script>
  <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>

.custoComb {
 background-color: #cccccc;
    background: #cccccc;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
  </style>
   <script type="text/javascript" src=" ../js/adicional.js"></script>
 <script>
  $( function() {
    $.widget( "custom.combobox", {
      _create: function() {
        this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element );
 
        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },
 
      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
          value = selected.val() ? selected.text() : "";
 
        this.input = $( "<input>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr( "title", "" )
          .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: $.proxy( this, "_source" )
          })
          .tooltip({
            classes: {
              "ui-tooltip": "ui-state-highlight"
            }
          });
 
        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
          },
 
          autocompletechange: "_removeIfInvalid"
        });
      },
 
      _createShowAllButton: function() {
        var input = this.input,
          wasOpen = false;
 
        $( "<a>" )
          .attr( "tabIndex", -1 )
          .attr( "title", "Show All Items" )
          .tooltip()
          .appendTo( this.wrapper )
          .button({
            icons: {
              primary: "ui-icon-triangle-1-s"
            },
            text: false
          })
          .removeClass( "ui-corner-all" )
          .addClass( "custom-combobox-toggle ui-corner-right" )
          .on( "mousedown", function() {
            wasOpen = input.autocomplete( "widget" ).is( ":visible" );
          })
          .on( "click", function() {
            input.trigger( "focus" );
 
            // Close if already visible
            if ( wasOpen ) {
              return;
            }
 
            // Pass empty string as value to search for, displaying all results
            input.autocomplete( "search", "" );
          });
      },
 
      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
              label: text,
              value: text,
              option: this
            };
        }) );
      },
 
      _removeIfInvalid: function( event, ui ) {
 
        // Selected an item, nothing to do
        if ( ui.item ) {
          return;
        }
 
        // Search for a match (case-insensitive)
        var value = this.input.val(),
          valueLowerCase = value.toLowerCase(),
          valid = false;
        this.element.children( "option" ).each(function() {
          if ( $( this ).text().toLowerCase() === valueLowerCase ) {
            this.selected = valid = true;
            return false;
          }
        });
 
        // Found a match, nothing to do
        if ( valid ) {
          return;
        }
 
        // Remove invalid value
        this.input
          .val( "" )
          .attr( "title", value + " didn't match any item" )
          .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
          this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.autocomplete( "instance" ).term = "";
      },
 
      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });
 
    $( "#combobox" ).combobox();
    $( "#toggle" ).on( "click", function() {
      $( "#combobox" ).toggle();
    });
  } );
  </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> 


  <link rel="stylesheet" href="../css/adicional.css">

  <script>


  
$(document).ready(function() {
         $("#Notificacion").hide();
          $("#Correcto").hide();
     $("#registro").click(function(){
        
          var nombre = $("#firstName").val(),
              facebook = $("#facebook").val(),
              pw = $("#pw").val(),
              pw2 = $("#pw2").val(),
              email = $("#email").val(),
              pais = $("#ComboPaises").val();



var esvalido  = false;
var campos = ["Nombre", "facebook", "Email","Password"];
var valores = [nombre, facebook, email,pw];
  esvalido = validarCampos(valores,campos);

if(esvalido){
  if(pw==pw2){

       $("#Notificacion").hide(350);
                                 $.post( "http://localhost:8080/usuario", CamposJson('#firstName,#facebook,#pw,#email,#ComboPaises'))
                                  .done(function( data ) {


                                    if(data.usuario==1 && !data.success){
                                         Error('Este usuario ya se encuentra registrado.');
                                    }else{

                                        if(!data.success){
                                             Error('Este correo ya se encuentra registrado.');
                                        }else{
                                              $("#Correcto").hide(50);
                                              $("#Correcto").show(350);
                                        }
                                    }

                                  });


  }else{
         Error('La contrasena no coincide.');

  }
}else{

}

      });

});
</script>

</head>
<body>
<%- include('header'); %>
<div class="container containerBorder">
  <div class="row">
<div class="col-xs-12" id="demoContainer">
  <div class="alert alert-success" id="Correcto">
    <strong>Bien!</strong> Registro Hecho exitosamente.
  </div>
<div class="alert alert-danger" id="Notificacion" >
  <strong>Error!</strong><p id="textnot" ></p>
</div>
    <div id="registrationForm2" class="form-horizontal fv-form fv-form-bootstrap" novalidate="novalidate"  target="none" action="">
                 <!--  <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button> -->
    <div class="form-group">
        <label class="col-xs-3 control-label">Partida</label>
        <div class="col-xs-4">
            <input type="text" class="form-control custoComb" name="firstName" id="firstName" placeholder="0" value='usuario' />
        </div>
        <div class="col-xs-4">
            <select class="form-control" name="color" id="combobox">
               
            </select>
        </div>

    </div>

   <!-- <div class="form-group">
        <label class="col-xs-3 control-label">Username</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="username" />
        </div>
    </div> -->

    

    <script>

    $(function() {

        $.when( $.get("http://localhost:8080/paises", function(data, status){
           
            jQuery.data( document, "paises",data );
              //console.log("Data: " + data + "\nStatus: " + status);
          })).then(function( data, textStatus, jqXHR ) {
            // Paises();
         
            ComboPaises();


             // GroupBy(jQuery.data( document, "paises"));
         // alert( jqXHR.status ); // Alerts 200
        });
          

         
         
    });
3
    function Where(data,value){
     return  _.filter(data, function(item, index) {
         return _.contains([value], item.iso);
    });

    }
var adress;
var idpais;

    function ComboPaises(){



        $.when($.getJSON('http://api.wipmania.com/jsonp?callback=?', function (data) {
                adress =  data.address.country;
            })).then(function( data, textStatus, jqXHR ) {
           $.each(   GroupBy(jQuery.data( document, "paises")), function( i, l ){
            $( "#combobox" ).append( " <option value='"+l.Id+"'>" + l.Pais +"</option>" );
           if(adress == l.Pais ){
               idpais = l.Id;
            }
          });

        $("#combobox").val(idpais);

        });

    }

    function GroupBy(data){

      return  _
        .chain(data)
        .groupBy('Nombre')
        .sort('Nombre')
        .map(function(value, key) {
            return {
                Pais: key,
                Id: value[0].id,
                Iso: value[0].iso
               // paises: _.pluck(value, 'Nombre')
            }
        })
        .value();
    }
    </script>


    </div>





    <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3">
            <button class="btn btn-primary" name="signup" value="Sign up" id='registro' >Registro</button>
        </div>
    </div>
</div>
    </div>
  </div>




  </div>
</body>
</html>
