<html>
<head>
  <title> <%= title %></title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" />    

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>





 <!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>     -->



  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>

  <script type="text/javascript" src="http://alasql.org/codex/lib/alasql/alasql.min.js"></script>

  <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>



  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">

  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">

  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/color.css">

  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">

  <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>



   <script type="text/javascript" src=" ../js/adicional.js"></script>
 <script>


function Reto(arg){

    if (confirm("Estas seguro?\nDeseas cancelar este reto")) { 

       $.get("http://localhost:8080/api/CancelarReto?idreto="+arg+"&token="+localStorage.getItem('tk'), function(data, status){

               //$("#grid_array").pqGrid("refreshDataAndView");

         }); 
    }
   
}


  </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> 


  <link rel="stylesheet" href="../css/adicional.css">

  <script>


  
$(document).ready(function() {
         $("#Notificacion").hide();
          $("#Correcto").hide();
         $("#registro").click(function(){
  debugger;      
          var contrincante = $("#combobox").val();

var esvalido  = false;
var campos = ["Contrincante"];
var valores = [contrincante];
  esvalido = validarCamposStr(valores,campos);



if(esvalido){

var camposjson = CamposJson('#combobox');
camposjson.retador = jQuery.data( document, "usuario")[0].id.toString();
camposjson.retadorStr =  jQuery.data( document, "usuario")[0].usuario
camposjson.visitante = $( "#combobox option:selected" ).text();

    if(camposjson.retadorStr != camposjson.visitante){

                             $("#Notificacion").hide(350);
                                 $.post( "http://localhost:8080/api/reto?token="+localStorage.getItem('tk'), camposjson )
                                  .done(function( data ) {
    
                                   if(data.sobrepasa){
                                     Error('El limite es de 5 retos al dia con el mismo jugador , este se ha terminado.');
                                   }else{ 
                                       if(!data.success){
                                             Error('Surgio un error interno del servidor.');
                                        }else{

                                            if(!data.success){
                                                 Error('Este correo ya se encuentra registrado.');
                                            }else{
                                                  $('#dg').datagrid('reload'); 
                                                  $("#Correcto").hide(50);
                                                  $("#Correcto").html('Bien! Reto hecho  a '+camposjson.visitante+' correctamente te quedan '+data.conteo[0].COUNTEOS+' retos por hacer al mismo jugador');
                                                  $("#Correcto").show(350);

                                                  
                                            }
                                        }

                                   }

                                   
                                  })
                                   .fail(function(xhr, status, error) {
                                         Error('Surgio un error interno del servidor.');
                                            $("#Correcto").hide(50);
                                          //  $("#Correcto").hide(350);
                                    }) ;

    }else {       Error('No puedes retarte ati mismo.');       }


}else{// else es valido

}

      });

});
</script>

</head>
<body>
<%- include('header'); %>





  <div class="alert alert-success" id="Correcto">
    <strong>Bien!</strong> Registro Hecho exitosamente.
  </div>
<div class="alert alert-danger" id="Notificacion" >
  <strong>Error!</strong><p id="textnot" ></p>
</div>
    







  <div id="p" class="easyui-panel" title="Realiza una reta" style="width:100%;height:200px;padding:10px;">
       

 <div class="form-group">
        <label class="col-xs-3 "></label>
        <div class="col-xs-4">
 
                  <input class="easyui-textbox" name="local" id="local"  value="..." disabled="" style="width:100%" data-options="label:'Partida:',required:true">
            
            <input id="combobox" style="width:350px"></input>
        </div>

    </div>

        <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3">
            <button class="easyui-linkbutton" data-options="iconCls:'icon-add',toggle:true" name="signup" value="Sign up" id='registro' >Retar ahora!</button>
        </div>
    </div>
    </div>









  <div style="margin:20px 0 10px 0;"></div>
    <div class="easyui-tabs" style="width:100%;height:450px">
        <div title="About" style="padding:10px">
           







<table id="dg" title="Pendientes" class="easyui-datagrid" style="width:95%;height:400px"
      url=""  
      toolbar="#toolbar" pagination="true"
      rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
      <tr>
        <th field="registro" width="50"> Fecha de partido</th>
        <th field="lastname" width="50">Last Name</th>
        <th field="phone" width="50">Phone</th>
        <th field="email" width="50">Email</th>
      </tr>
    </thead>
  </table>
  <div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">New User</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">Edit User</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">Remove User</a>
  </div>
  
  <div id="dlg" class="easyui-dialog" style="width:400px"
      closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
      <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">User Information</div>
      <div style="margin-bottom:10px">
        <input name="firstname" class="easyui-textbox" required="true" label="First Name:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <input name="lastname" class="easyui-textbox" required="true" label="Last Name:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <input name="phone" class="easyui-textbox" required="true" label="Phone:" style="width:100%">
      </div>
      <div style="margin-bottom:10px">
        <input name="email" class="easyui-textbox" required="true" validType="email" label="Email:" style="width:100%">
      </div>
    </form>
  </div>
  <div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser()" style="width:90px">Save</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
  </div>




           
        </div>
        <div title="My Documents" style="padding:10px">
            <ul class="easyui-tree" data-options="url:'tree_data1.json',method:'get',animate:true"></ul>
        </div>
        <div title="Help" data-options="iconCls:'icon-help',closable:true" style="padding:10px">
            This is the help content.
        </div>
    </div>


  </div>
</body>
</html>


  <script type="text/javascript">
    var url;

    $( document ).ready(function() {
             $('#dg').datagrid({
                url: 'http://localhost:8080/api/getpartidos?token='+localStorage.getItem('tk')
             
            });
    });

    function newUser(){
      $('#dlg').dialog('open').dialog('center').dialog('setTitle','New User');
      $('#fm').form('clear');
      url = 'save_user.php';
    }
    function editUser(){
      var row = $('#dg').datagrid('getSelected');
      if (row){
        $('#dlg').dialog('open').dialog('center').dialog('setTitle','Edit User');
        $('#fm').form('load',row);
        url = 'update_user.php?id='+row.id;
      }
    }
    function saveUser(){
      $('#fm').form('submit',{
        url: url,
        onSubmit: function(){
          return $(this).form('validate');
        },
        success: function(result){
          var result = eval('('+result+')');
          if (result.errorMsg){
            $.messager.show({
              title: 'Error',
              msg: result.errorMsg
            });
          } else {
            $('#dlg').dialog('close');    // close the dialog
            $('#dg').datagrid('reload');  // reload the user data
          }
        }
      });
    }
    function destroyUser(){
      var row = $('#dg').datagrid('getSelected');
      if (row){
        $.messager.confirm('Confirm','Are you sure you want to destroy this user?',function(r){
          if (r){
            $.post('destroy_user.php',{id:row.id},function(result){
              if (result.success){
                $('#dg').datagrid('reload');  // reload the user data
              } else {
                $.messager.show({ // show error message
                  title: 'Error',
                  msg: result.errorMsg
                });
              }
            },'json');
          }
        });
      }
    }







       $(function(){
            $('#combobox').combogrid({
                panelWidth:700,
                url: "http://localhost:8080/api/usuarios?token="+localStorage.getItem('tk'),
                idField:'id',
                textField:'nombre',
                mode:'remote',
                fitColumns:true,
                columns:[[
                    {field:'nombre',title:'Nombre',width:60}
                ]]
            });
            $("input[name='mode']").change(function(){
                var mode = $(this).val();
                $('#cg').combogrid({
                    mode: 'remote'
                });
            });
        });

   
    $(function() {

      $.when($.get("http://localhost:8080/api/getuser?token="+localStorage.getItem('tk'), function(data, status){  

            jQuery.data( document, "usuario",data );

       })).then(function( data, textStatus, jqXHR ) {
debugger;
          // $('#local').val(jQuery.data( document, "usuario")[0].usuario);

           $('#local').textbox({
                value:jQuery.data( document, "usuario")[0].usuario
            });

        });  

    });
  </script>
